.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}


.jumbotron {
    padding-bottom: 0;
    margin-bottom: 0px;
    padding-top: 0;
    background-color: white;
}

footer {
    background-color: black;
}

#footerList {
    padding-left: 0px;
    margin-left: 50px;
    padding-right: 0px;
    
}

.img-thumbnail{
    border: 0;
}

h3 , a {
    color: black;
}

body {
    font-family: "Rubik", sans-serif;
}

#termsAndConditions {
    width: 80%;
    margin: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

#wineMenu {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
}